@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

/* colors
cyan: rgb(0, 217, 217)
yellow: rgb(217, 217, 0)
magenta: rgb(217, 0, 217)
 */

body {
	background-color: #f9f9f9;
	color: #333333;
	font-family: 'Inconsolata', monospace;
	margin: 0;
	padding: 0;
}

/* Paragraph and heading styles */

.home__header {
	margin-top: 60px;
}

.home__nameplate {
	font-size: 6rem;
}

.home__intro, .home__about {
	font-size: 1.75rem;
}

.home__intro--top, .home__about--top {
	margin-top: 60px;
}

.home__about--bottom {
	margin-bottom: 90px;
}

.underline {
	text-decoration: underline;
}

.mime-form {
	align-items: flex-end;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 30px;
}

.mime-form__wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 0 7px;
}

.mime-form__input, .mime-form__label {
	font-size: 1.50rem;
}

.mime-form__input {
	padding: 7px;
}

a {
	color: rgb(217, 0, 217);
	transition: all 0.3s ease;
}

/* Nav styles */

.nav {
	font-size: 1.3rem;
}

.nav__name {
	text-transform: uppercase;
}

.nav__button {
	background-color: transparent;
	border: none;
	color: rgb(217, 0, 217);
	cursor: pointer;
	margin: 0 7px;
	transition: all 0.3s ease;
}

.nav__button:hover, .navbar-brand:hover, a:hover {
	color: rgb(0, 217, 217);
}

.nav__last-saved {
	color: rgb(217, 0, 217);
	margin-bottom: 0;
}

/* Button styles */

.button {
	background-color: rgb(0, 217, 217);
	border: none;
	border-radius: 10px;
	font-size: 1.50rem;
	padding: 12px 20px;
	margin: 30px 15px 0 15px;
	transition: all 0.3s ease;
}

.button:hover {
	box-shadow: 8px 8px 0 0 rgb(217, 0, 217), 16px 16px 0 0 rgb(217, 217, 0);
	cursor: pointer;
}

.button--extra-margin {
	margin: 30px 50px 0 50px;
}

/* MIME section container styles */

.fluid--no-padding {
	padding: 0;
}

.mime {
	align-items: center;
	display: flex;
	padding: 30px;
	overflow: scroll;
}

.mime--center {
	justify-content: safe center;
}

/* MIME component styles */

.konvajs-content {
	-webkit-box-shadow: 0px 0px 14px 5px rgba(204,204,204,1);
	-moz-box-shadow: 0px 0px 14px 5px rgba(204,204,204,1);
	align-self: flex-start;
	background-color: rgba(255, 255, 255, 0.95);
  background-image:linear-gradient(0deg, transparent 24%, rgba(0, 0, 0, .05) 25%, rgba(0, 0, 0, .05) 26%, transparent 27%, transparent 74%, rgba(0, 0, 0, .05) 75%, rgba(0, 0, 0, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(0, 0, 0, .05) 25%, rgba(0, 0, 0, .05) 26%, transparent 27%, transparent 74%, rgba(0, 0, 0, .05) 75%, rgba(0, 0, 0, .05) 76%, transparent 77%, transparent);
	height: 100%;
	background-position: left top;
  background-size: 50px 50px;
	box-shadow: 0px 0px 14px 5px rgb(0, 0, 0, 0.3);
	margin: 1em;
}

/* SVG Aimations for MIME Logo*/
.circle {
	stroke-dasharray: 1200;
	stroke-dashoffset: 1200;
	animation: dash 5s linear forwards;
  }
  
  @keyframes dash {
	to {
	  stroke-dashoffset: 0;
	}
  }

  .square {
	stroke-dasharray: 1500;
	stroke-dashoffset: 1500;
	animation: dash 5s linear forwards;
  }
